body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Main container style */
.container{
  width: 70%;
  margin: 0 auto;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}
/* A div for the question */
.questionDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  border: 2px solid red;
  background: linear-gradient(90deg, rgb(45,253,251) 0%, rgb(13, 171, 192) 100%);
  width: 50%;
  border-radius: 10px 10px;
}
.questionDiv p{
  background-color: rgb(172, 34, 34);
  border-radius: 3px 3px;
  color: white;
  font-size: 3vw;
}
/* A div for the answers */
.answersDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  border: 2px solid red;
  background: linear-gradient(90deg, rgb(13, 171, 192) 0%, rgb(45,253,251)  100%);
  border-radius: 10px 10px;
  width: 50%;
}
/* Each answer */
.answer{
  margin: 1vw;
  padding: 1vw;
  background-color: rgb(238, 238, 64);
  border-radius: 5px 5px;
  font-size: 2vw;
}
/* For the ending message */
.end{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid green;
  background: rgb(34,195,36);
  background: linear-gradient(90deg, rgba(34,195,36,1) 0%, rgba(45,253,251,1) 100%);
  width: 70%;
}
/* The message itself */
.endmsg{
  padding: 0.5vw;

}